body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  counter-reset: section;
  p {
    margin-bottom: 0;
    color: #999999;
  }
  h1 {
    font-size: 40px;
  }
  ul {
    list-style: none;
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #333;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 80px;
  .container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-content: center; 
    height: 100%;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 110px;
      max-height: 40px;
    }
  }
  .menu-area {
    flex-direction: row;
    display: flex;
    justify-content: space-between; 
    padding-left: 0;
    margin-bottom: 0;
    width: 532px;
    a {
      text-transform: uppercase;
      color: white;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      height: 100%;
      line-height: 80px;
    }
    li{
      display: flex;
      &.active,
      &:hover {
        a {
          font-weight: 700;
          &:before {
            content: '';
            width: calc(100% + 26px);
            left: -13px;
            position: absolute;
            bottom: 0;
            height: 4px;
            background-color: white;
          }
        }
      }
    }
  }
  &.active {
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px rgba(254, 82, 2, 0.2);
    .logo img {
      filter: invert(45%) sepia(94%) saturate(3260%) hue-rotate(357deg) brightness(95%) contrast(112%);
    }
    .menu-area {
      li {
        &.active,
        &:hover {
          a {
            color: #FE5202;
            &:before {
              background-color: #FE5202;
            }
          }
        }
      }
      a {
        color: #333333;
      }
    }
    
  }
}
// header

#main {
  .banner {
    position: relative;
    margin-bottom: 140px;
    &-content {
      position: absolute;
      top: 220px;
      width: 100%;
      z-index: 2;
      text-align: center;
      color: white;
      h1 {
        font-size: 40px;
        margin-bottom: 20px;
        color: white;
      }
      p {
        font-size: 20px;
        margin-bottom: 40px;
        color: white;
      }
      button {
        width: 170px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: 0 5px 20px rgba(254, 82, 2, 0.2);
        background: rgb(255,169,54);
        background: linear-gradient(137deg, rgba(255,169,54,1) 0%, rgba(254,175,27,1) 40%, rgba(254,93,9,1) 80%, rgba(254,82,2,1) 100%);
        border-radius: 30px;
      }
    }
    &-slider {
      .owl-dots {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        .owl-dot {
          width: 16px;
          height: 16px;
          margin: 0 8px;
          border-radius: 50%;
          border: 1px solid white;
          &.active {
            background-color: white;
          }
        }
      }
    }
  }

  .intro-app {
    h2 {
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      color: #333333;
      margin-bottom: 20px;
    }
    .introduce-app {
      text-align: center;
      margin-bottom: 140px;
      > p {
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        margin-bottom: 40px;
      }  
    }
    .app-ctas {
      display: flex;
      justify-content: center;
      button {
        background-color: #FE5202;
        border: none;
        width: 220px;
        height: 60px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        img {
          height: 50%;
          width: auto;
        }
      }
    }
    .app-detail {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 160px;
      > div {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
      .detail-step {
        h3 {
          font-size: 40px;
          line-height: 48px;
          color: #333;
          margin-bottom: 40px;
          max-width: 470px;
          font-weight: 700;
        }
        ul {
          padding-left: 0;
          li {
            padding-left: 100px;
            position: relative;
            padding-top: 5px;
            min-height: 80px;
            padding-bottom: 10px;
            margin-bottom: 50px;
            &:before  {
              counter-increment: section;
              content: counter(section);
              font-size: 30px;
              font-weight: 700;
              color: white;
              background-color: #FE5202;
              width: 70px;
              height: 70px;
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &:after {
              content: '';
              left: 35px;
              top: 100%;
              width: 1px;
              height: 40px;
              background-color: #FE5202;
              display: inline-block;
              position: absolute;
            }
            &:last-child {
              margin-bottom: 0;
              &:after {
                content: none;
              }
              &:before {
                content: '';
                background-image: url('../imgs/tick-white.png');
                background-repeat: no-repeat;
                background-position:  center;
                background-size: 27px 21px;
              }
            }
          }
          h4 {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 11px;
          }
          p {
            font-size: 16px;
            color: #999999;
            line-height: 21px;
          }
        }
      }
      .detail-step-img {
        margin-bottom: auto;
      }
    }
    .services {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 160px;
      .service {
        width: calc((100% - 60px) / 3);
        padding: 40px;
        border-radius: 12px;
        box-shadow: 0 20px 60px rgba(0,0,0,0.05);
        max-height: 280px;
      }
      img {
        width: 48px;
        height: 48px;
        margin-bottom: 35px;
      }
      h4 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
      }
      p {
        color: #999999;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.5px;
      }
    }
  }

  .questions {
    background-color: rgba(254, 82, 2, 0.05);
    padding-top: 140px;
    padding-bottom: 140px;
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      > h2 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 20px;
        font-weight: 700;
        width: 100%;
      }
      > p {
        font-size: 16px;
        color: #999999;
        margin-bottom: 40px;
        width: 100%;
      }
      .place {
        background-color: white;
      }
      .main-place {
        width: calc(60% - 15px);
        box-shadow: 20px 20px 60px rgba(0,0,0,0.05);
        border-radius: 12px;
      }
      .others-place {
        width: calc(40% - 15px); 
        display: flex;
        flex-direction: column;
        .place {
          margin-bottom: 30px;
          border-radius: 12px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
      .place-star img {
        width: 20px;
        height: 20px;
        margin-bottom: 0;
      }
      .place-cate {
        margin-bottom: 16px;
        font-size: 14px;
        color: #999999;
        padding-right: 24px;
        padding-left: 24px;
      }
      .place-name {
        margin-bottom: 16px;
        color: #333333;
        font-size: 20px;
        padding-right: 24px;
        padding-left: 24px;
      }
      .place-price {
        font-size: 18px;
        color: #FE5202;
        font-weight: 700;
      }
      .place-value {
        padding-right: 24px;
        padding-left: 24px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: #FE5202;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
  }

  .special-rooms {
    padding-bottom: 140px;
    padding-top: 140px;
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    button {
      width: 170px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 24px;
      color: white;
      background-color: #FE5202;
      margin: 20px auto 0;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &.opened {
        border: 1px solid #FE5202;
        background-color: #FFFFFF;
        color: #FE5202;
        font-weight: 400;
      }
    }
    .special-room {
      width: calc((100% - 90px) / 4);
      margin-right: 30px;
      background-color: white;
      border-radius: 12px;
      margin-bottom: 40px;
      box-shadow: 0 20px 60px rgba(0,0,0,0.05);
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:nth-child(n + 9) {
        display: none;
      }
      img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 8px;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 12px;
        line-height: 24px;
        padding-right: 20px;
        padding-left: 20px;
      }
      p {
        font-size: 14px;
        color: #333333;
        line-height: 20px;
        margin-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }

  .customer-say {
    background-color: rgba(254, 82, 2, 0.05);
    padding-top: 140px;
    padding-bottom: 140px;
    h2 {
      width: 100%;
      font-size: 40px;
      font-weight: 700;
      color: #333333;
      margin-bottom: 40px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-main-image {
      width: 570px;
      position: relative;
      margin-bottom: auto;
      .customer-say-gallery-image {
        position: relative;
        border-radius: 12px;
      }
      .customer-say-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 100px 40px 44px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        border-radius: 12px;
      }
      .customer-say-name {
        font-size: 24px;
        font-weight: 700;
        color: white;
        margin-bottom: 12px;
      }
      .customer-say-job {
        font-size: 14px;
        font-weight: 400px;
        opacity: 0.6;
        color: white;
        margin-bottom: 24px;
      }
      .customer-say-comment {
        font-style: italic;
        font-size: 16px;
        font-weight: 400;
        color: white;
        line-height: 20px;
        margin-bottom: 20px;
      }
      .customer-say-stars {
        width: 96px;
        display: flex;
        flex-direction: row;
        img {
          width: calc(100% / 5);
          height: auto;
        }
      }
      .cta-nav {
        width: 65px;
        position: absolute;
        right: 40px;
        bottom: 44px;
        display: flex;
        justify-content: space-between;
        button {
          width: 24px;
          background-color: transparent;
          box-shadow: none;
          border: none;
          padding: 0;
          cursor: pointer;
        }
      }
    }
    &-gallery-images {
      width: calc(100% - 600px);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: auto;
      .customer-say-content {
        display: none;
      }
      .customer-say-gallery-image {
        width: calc((100% - 60px) / 3);
        margin-right: 30px;
        margin-bottom: 30px;
        height: 170px;
        cursor: pointer;
        &:nth-child(3n){
          margin-right: 0;
        }
        img {
          width: 100%;
        }
      }
    }
  }

  .support {
    padding-top: 140px;
    padding-bottom: 140px;
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      > div {
        width: calc((100% - 30px) / 2);
        margin-bottom: auto;
      }
    }
    h2 {
      width: 100%;
      font-size: 40px;
      font-weight: 700;
      color: #333333;
      margin: 0 auto 22px;
      text-align: center;
    }
    .owner,
    .user {
      h3 {
        font-size: 24px;
        color: #999999;
        text-transform: uppercase;
        line-height: 24px;
        margin-bottom: 30px;
      }
      ul {
        padding-left: 0;
      }
      li {
        padding: 20px;
        border-radius: 8px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
        margin-bottom: 30px;
        .answer {
          display: none;
        }
        h4 {
          font-size: 16px;
          margin: 0;
          color: #333;
          cursor: pointer;
        }
        &.active {
          h4 {
            color: #FE5202;
          }
          svg {
            transform: rotate(180deg);
          }
          .answer {
            display: block;
            border-top: 1px solid #FE5202;
            padding-top: 20px;
            margin-top: 20px;
            p {
              margin-bottom: 20px;
              color: #333333;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }

    }
    // .owner {}
  }
}
// main

#footer {
  position: relative;
  &:after {
    width: 645px;
    background-image: url('../imgs/background-footer.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
  }
  .footer-info {
    padding-top: 100px;
    padding-bottom: 120px;
    background: rgb(255,169,54);
    background: linear-gradient(137deg, rgba(255,169,54,1) 0%, rgba(254,175,27,1) 40%, rgba(254,93,9,1) 80%, rgba(254,82,2,1) 100%);
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      > div {
        width: 25%;
      }
      h3 {
        text-transform: uppercase;
        color: white;
        margin-bottom: 20px;
        font-size: 16px;
      }
      p {
        color: white;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        span {
          font-weight: 700;
        }
      }
    }
    .container .logo-footer {
      width: 22%;
    }
    .container .addr-footer {
      width: 28%;
    }
    .container .menu-footer {
      padding-left: 60px;
    }
    .social-footer img {
      width: 44px;
      height: 44px;
      margin-right: 16px;
    }
  }
  .coppy-right {
    height: 116px;
    background: rgb(255,216,160);
    background: linear-gradient(90deg, rgba(255,216,160,1) 0%, rgba(255,216,160,1) 20%, rgba(252,135,114,1) 100%);
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    .container {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
// footer